.SearchBar {
      background-color: rgb(255, 255, 255, 0.4);;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 7rem;
      margin-bottom: 7rem;
      border: 1px solid black;
    }


.SearchBar button,
.SearchBar button:hover {
  background-color: #fff;
}